@media (min-width: 120px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Отступы между Navigation и UserMenu/AuthNav */
    margin-left: 5px;
    margin-top: 50px;
  }

  .containerIsLogged {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Отступы между Navigation и UserMenu/AuthNav */
    margin-left: 5px;
    margin-bottom: 70px;
    margin-top: 50px;
    margin-right: 200px;
  }

  .containerOnLogged {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Отступы между Navigation и UserMenu/AuthNav */
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: 5px;
    margin-right: 200px;
  }
}

@media (min-width: 768px) {
  .containerOnLogged {
    margin-left: 70px;
    margin-bottom: 0px;
  }

  .containerIsLogged {
    margin-left: 70px;
    margin-bottom: 0px;
  }

  .container {
    margin-left: 70px;
  }
}

@media (min-width: 1024px) {
  .containerOnLogged {
    margin-left: 100px;
  }

  .containerIsLogged {
    margin-left: 100px;
  }

  .container {
    margin-left: 100px;
  }
}
