.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-top: 230px;
  font-size: 18px;
}

.haeder {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icons {
  width: 36px;
  height: 36px;
  fill: #0056b3;
}
