.authlink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: 600;
  border: 2px solid white;
  background-color: white;
  border-radius: 8px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  width: 160px;
  transition: background-color 1s ease-in-out;
}

.authLinks {
  display: flex;
  gap: 20px;
}

.authlink:hover {
  border-color: #0f2f6c;
}

.authlink:focus {
  border-color: #0f2f6c;
}
