.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-top: 150px;
  font-size: 18px;
  background-color: #ffffff;
  width: 500px;
  border-radius: 18px;
}

.icon {
  fill: #000000;
  width: 29px;
  margin-left: 3px;
  height: 29px;
}

.header {
  margin-top: 50px;
  margin-bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;
}
